---
import IconClose from "./icons/IconClose.astro";
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedin from "./icons/IconLinkedin.astro";
import PageLink from "./PageLink.astro";
import { version } from "../../package.json";
import { getAllCategories, getMostRecentPostDate } from "../utils";

const posts = Object.values(import.meta.glob<Record<string, any>>('../pages/posts/*.mdx'))
const allCategories = await getAllCategories(posts as (() => Promise<Record<string, any>>)[]);
const mostRecentPostDate = await getMostRecentPostDate(posts as (() => Promise<Record<string, any>>)[]);
---

<div class="mobile-menu">
  <button class="mobile-menu__close-button" is-="button">
    <IconClose>
  </button>
  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__links-list">
      <li class="links-list__item"><PageLink href="/">Home</PageLink></li>
      <li class="links-list__item"><PageLink href="/il-progetto">Il Progetto</PageLink></li>
      <li class="links-list__item"><PageLink href="/about-me">About Me</PageLink></li>
      <li class="links-list__item links-list__item-category" data-category-count={allCategories.length}>
        <div class="links-list__item-title">
          <span class="links-list__item-title-icon">/</span><PageLink href="/#">Categorie</PageLink>
        </div>
        <ul class="links-list__sub-list">
          {allCategories.map((category) => (
            <li class="links-list__item sub-list__item"><PageLink href=`/posts/category/${category}`>{category}</PageLink></li>
          ))}
        </ul>
      </li>
      <li class="links-list__item"><PageLink href="/ai-disclaimer">AI Disclaimer</PageLink></li>
    </ul>
  </nav>
  <div class="mobile-menu__separator"></div>
  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__links-list">
      <li class="links-list__item links-list__item--remove-before"><a href="/privacy-policy">Privacy Policy</a></li>
      <li class="links-list__item links-list__item--remove-before">Powered by&nbsp;<a href="https://webtui.ironclad.sh" target="_blank">WebTUI</a></li>
    </ul>
  </nav>
  <div class="mobile-menu__footer">
    <div class="footer__social-links">
      <a class="social-links__item" href="https://github.com/lucabro81" target="_blank" aria-label="GitHub">
        <IconGithub />
      </a>
      <a class="social-links__item" href="https://www.linkedin.com/in/lucabrognara/" target="_blank" aria-label="LinkedIn">
        <IconLinkedin />
      </a>
    </div>
    <div class="footer__theme-toggle">
      <a href=`https://github.com/lucabro81/webTUI/releases/tag/v${version}` target="_blank">v{version}.{mostRecentPostDate}</a>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const OPENING_TIME = 300;
    const OPENING_DELAY = 0.1;

    const mobileMenu = document.querySelector('.mobile-menu-container');
    const closeButton = document.querySelector('.mobile-menu__close-button');
    const categoryLink = document.querySelector('.links-list__item-category');
    const categoryIcon = document.querySelector('.links-list__item-category .links-list__item-title-icon');
    const categorySubList = document.querySelector('.links-list__item-category .links-list__sub-list');
    const categorySubListItems = document.querySelectorAll('.links-list__item-category .links-list__sub-list .sub-list__item');
    let isCategoryMenuOpen = false;

    function closeMenu() {
      mobileMenu?.children[0].classList.toggle('is-open');
      categoryIcon?.classList.remove('links-list__item-title-icon--is-open');
    }

    function resetSubItemEnteringAnimation(item: Element) {
      const currentItem:HTMLElement = item as HTMLElement;
      currentItem.classList.toggle('appear');
      currentItem.classList.toggle('slide-in');
      currentItem.style.transitionDelay = `0s`;
    }

    function applySubItemEnteringAnimation(item: Element, index: number) {
      const currentItem:HTMLElement = item as HTMLElement;
      currentItem.style.transitionDelay = `${index * OPENING_DELAY}s`;
      currentItem.classList.toggle('appear');
      currentItem.classList.toggle('slide-in');
    }

    function openCategoryMenu() {
      isCategoryMenuOpen = !isCategoryMenuOpen;
      categoryIcon?.classList.toggle('links-list__item-title-icon--is-open');
      categorySubList?.classList.toggle('links-list__sub-list--is-open');
      const height = isCategoryMenuOpen ? `${(parseInt((categoryLink as HTMLElement).dataset.categoryCount || '0')*2)+1}rem` : '0';
      if (!isCategoryMenuOpen) {
        setTimeout(() => {
          categorySubListItems.forEach(resetSubItemEnteringAnimation);
        }, OPENING_TIME);
      }
      else {
        categorySubListItems.forEach(applySubItemEnteringAnimation);
      }
      (categorySubList as HTMLElement).style.setProperty('height', height);
    }

    closeButton?.addEventListener('click', closeMenu);
    categoryLink?.addEventListener('click', openCategoryMenu);
  });
</script>

<style>

  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: var(--background3);
    color: var(--foreground0);
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;

    .mobile-menu__close-button[is-~=button] {
      background-color: transparent;
      background-image: none;
      width: fit-content;
      margin: 0 -1rem -1rem -1rem;
      color: var(--foreground0);
      padding: 0 1rem; 
    }
  }

  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .mobile-menu__nav {
    margin-top: 2rem;
  }

  .mobile-menu__links-list {
    list-style: none;
    flex-direction: column;
    gap: 1rem;
  }

  .mobile-menu__footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--foreground0);
  }

  .social-links__item {
    color: var(--foreground0);
  }

  .footer__theme-toggle {
  }

  .links-list__item {
    .sub-list__item {
      opacity: 0;
      padding-left: 3rem;
      &.appear, &.slide-in {
        transition: opacity .4s ease-in-out, padding-left .4s ease-in-out;
      }
      &.appear {
        opacity: 1;
      }
      &.slide-in {
        padding-left: 0;
      }
    }
    .sub-list__item:first-child {
      padding-top: 1rem;
    }
    gap: 0;
    padding-left: 0;
  }

  .links-list__sub-list {
    list-style: none;
    flex-direction: column;
    gap: 1rem;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &.links-list__sub-list--is-open {
      /* height: 7rem; */
      transition: all .3s ease-in-out;
    }
    .sub-list__item {
    }
  }

  .links-list__item::before {
    content: "/";
  }

  .links-list__item-category{
    display: flex;
    flex-direction: column;
  }

  .links-list__item.links-list__item-category::before {
    display: none;
  }

  .links-list__item-title {
    text-align: left;
  }

  .links-list__item-title-icon {
    display: inline-block;
    rotate: 0deg;
    transition: all .3s ease-in-out;
  }

  .links-list__item-title-icon--is-open {
    transition: all .3s ease-in-out;
    transform: rotate(130deg);
  }

  .links-list__item--remove-before {
    &::before {
      content: "";
    }
  }

  .mobile-menu__separator {
    flex: 1;
  }
</style> 